* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
/* //////////////////////page1/////////////// */
.home{
    height:100vh;
    background-image: url(../images/takim2.jpeg);
    background-size: cover;     
    margin-top: 0px;                                     
    position:relative
}
.content{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.hhh{
    color:white;
    font-size: 55px;
    text-transform: uppercase;
    display: inline;
}
.ppp{
    margin-top: 16px;
    margin-bottom: 13px;
    font-size: 15px;
    color: antiquewhite;
    letter-spacing: 2px;
}
.btn{
    width: 150px;
    padding: 15px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    text-transform: capitalize;
}
.btn-start{
    margin-right: 10px;
    opacity: 5;
}
.btn-learn{
    background-color: blue;
    color: white;

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 ,0 ,0 , 0.7)
}
.btn:hover{
    opacity: .5;
}
.div0{
    width: 100%;
    height: 50px;
    overflow: auto;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: rgba(25,26,27,0.74);

}
.img1{
    width: 150px;
    height: 50px;
    float: left;
    margin-left: 80px;
}
.ul1{
    list-style: none;
    float: right;
    margin-right: 130px;
}
li{
    display: inline-block;
    margin: 12px 12px;
    color: red
}
.li1{
    text-decoration: underline;                    
}
/* ////////////////////////////////////page2/////////////////////////// */
.continer-web{
    width: 80%;
    height: 720px;
    margin: auto;
     overflow: auto;
     position: relative;
}
.web1-box{
    width: 30%;
    border:1px solid gray;
    text-align:center;
    float:left;
    padding: 17px 13px;
    position: relative;
}
.web2-box{
    width: 30%;
    border:1px solid gray;
    margin: 0px 5%;
    text-align:center;
    float: left;
    padding: 17px 13px;
    position: relative;
}
.web3-box{
    width: 30%;
    border:1px solid gray;
    text-align:center;
    float: left;
    padding: 17px 13px;
    position: relative;
}
.content-hover:hover .h2web{
    color: aliceblue;
}

.content-hover::after{
    content:"" ;
    position: absolute;
    top:0;
    left: 0;
    width:0;
    height:0;
    transition:1s;
    background-color: black;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}
.content-hover:hover::after{
    width: 100%; 
    height: 100%;
    visibility: visible;
    opacity:1;
}
.title{
    text-align: center;
    font-size: 35px;
    margin-top: 130px;
    text-transform: capitalize;
}
.sp1{
    display: block;
    width: 65px;
    height: 4px;
    background-color:cornflowerblue;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 5px;
}
.icon-web{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: dodgerblue;
}
.web-p{
    word-spacing: 4px;
    color:darkgrey;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.web-a{
    text-decoration: none;
    color:dodgerblue;
}
.a1{
    text-decoration: none;
    color:red;
}
/* //////////////////////////page3////////////// */
.word{
    width: 100%;
    height: 1000px;
    padding-top: 25px;
    background-color: #e8e8e8;
    text-align: center;  
 }
.word-Conatiner{
    width: 80%;
    padding-top: 25px;
    margin: auto;
}
.hidden{
    overflow:auto;
}
.word-item{
 width: 30%;
 float: left;
 position: relative;
 padding: 20px;
}
.word-item:hover .layer-content-title ,
.word-item:hover .layer-content a,
.word-item:hover .layer-content .category{
    top:0;
    opacity: 1;
    visibility: visible;
}
.layer-content a i{
    line-height: 40px;
}
.word2{
    margin: 0px 3%;
}
.category {
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s , opacity .5s;
    transition-delay: 0;
 }
.layer-content-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
}
.layer-content {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition:1s
            
 }
.layer-content a {
    display: inline-block;
    width:40px;
    height: 40px;
    background-color: #6195ff;
    position: relative;
    top:15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .6s;
}
.word-item:hover .layer-content {
visibility: visible;
opacity: 1;

}
.layer-info{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
   transform: translate(-50%,-50%);
   text-align: center;
}
/* //////////////////////page4/////////////////////` */
.offer-continer{
    width: 100%;
    margin: auto;
}
.offer-content{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    position: relative;
    overflow: auto;

}
.offer-box{
    width: 30%;
    height: 200px;
    border: 1px solid gray;
    float: left;
    margin-bottom: 20px;
    position: relative;
}
.offer-box2{
    margin: 0px 5%;
}
.offer-text{
    margin-left: 25%;
    margin-top: 30px;
}
.offer-h2{
    font-size: 24px;
}
.offer-icon{
    color: dodgerblue;
    position: absolute;
    margin: 30px 20px;
    
}
.offer-p{
    font-size: 16px;
    margin-top: 22px;
    color: rgb(105, 94, 94);
    line-height: 24px;
}
/*////////////////page5///////// */
.choose-continer{
    width: 100%;
    height: 700px;
    background:fixed;
    background-color:  rgb(245, 245, 245);
    overflow: auto;
}
.choose-content{
    width: 40%;
    height: 600px;
    margin-left: 120px;
    margin-top: 100px;
    float: left;
}
.choose-span{
    display: block;
    width: 65px;
    height: 4px;
    background-color:cornflowerblue;
    margin-top: 10px;
}
.choose-h2{
    font-size: 35px;
}
.choose-p{
    font-size: 18px;
    color: gray;
    margin-top: 40px;
    line-height: 30px;
}
.choose-ul1{
    padding-top: 30px;
}        
.choose-li1{
    color:gray;
}
.choose-ul1 .chooseli1 i {
    border: 1px solid #6195ff;
    color: #6195ff;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.choose-img{
    margin-top: 100px;
    margin-left: 100px;
}
.choose-ul2 .choose-li2{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #a8a8a8;
    margin: 10px 5px;
    border-radius: 50%;
}
.choose-ul2 .choose-li2:hover {
    background-color: #6195ff;
}
.choose-ul2{
    margin-left: 900px;
}
/* /////////////page6/////////////// */
.page6-continer{
    width: 100%;
    height: 350px;
    position: relative;
    background-image: url(../images/takim2.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.page6-content{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.page6-title{
    margin-left: 150px;
}
.page6-text{
    width: 22%;
    float: left;
    text-align: center;  
}
.page6-icon{
    color: #6195ff;
    margin-bottom: 15px;
}
.page6-text .icon{
    display: inline-block;
    margin-top: 50%;
    font-size: 30px;
}
.page6-text h3{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.page6-text span{
    color: #fff;
}
/* /////////////////////page7///////////// */
.pricing-continer{
    width: 100%;
    height: 700px;
    overflow: auto;
 }
 .box1{
    margin-left: 140px;
 }
 .box2{
    margin:0px 50px;
 }
 .pricing-box{
    width: 300px;
    height: 350px;
    border: 1px solid gray;
    float:left;
    position: relative;
 }
 .pricing-circle{
    width: 100px;
    height: 100px;
    border: 2px solid  #6195ff;
    border-radius: 50%;
    margin: auto;
    text-align: center;
 }
 .pricing-box:hover .pricing-circle{
     color:brown;
 }
 .pricing-box:hover .h3{
    color:brown;
 }
 .pricing-box::after{
    content:"" ;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:0;
    transition:1s;
    background-color: rgb(105, 94, 94);
    visibility: hidden;
    opacity: 0;
}
.pricing-box:hover::after{
    width: 100%; 
    height: 100%;
    visibility: visible;
    opacity:.5;
}
 .pricing-box button{
    width: 150px;
    height: 30px;
    margin-left: 75px; 
    border: 2px solid  #6195ff ;
 }
 .pricing-box p{
     line-height: 15px;
     margin: 20px 0px;
    text-align: center;
    color: gray;
 }
 .pricing-box .h2{
    font-size: 50px;
    margin-top: 10px;
 }
 .pricing-box .h3{
     margin: 15px 0px;
    font-size: 17px;
    text-align: center;   
    color: gray;
 }
 .pricing-box span{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
 }
 /* ////////////////////page8/////////////// */
 .child{
    float: left;                  
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);   
}
.child1{
    float: left;                  
    padding: 110px 20px 10px 380px;
    position: relative;
    line-height: 1.4;
    margin-bottom: 20px;
    color: white;                     
}
.child2{
    float: left;              
    padding: 110px 20px 10px 380px;
    position: relative;
    line-height: 1.4;
    margin-bottom: 20px;
    color: white;
}
.child img{
    position: absolute;
    top: 100px;
    left:300px;
    border-radius: 50%;               
}
.child span {
    color: #6195ff;
}
.p-child1{
    position: absolute;
    text-transform: capitalize;
    line-height: 1.5;
    margin-top: 180px;
    margin-left: 320px;
    font-size: 14px;
    color: white;
}
.p-child2{
    position: absolute;
    text-transform: capitalize;
    line-height: 1.5;
    margin-top: 180px;
    margin-left: 820px;
    font-size: 14px;
    color: white;
}
/* /////////////////////////page9//////////////// */
.team-container{
    width: 80%;
    margin: auto;
}
.team-content{
    overflow: auto;
}
.team-item{
    position: relative;
    display: block;
    float:left;
    width: 30%;
    padding: 17px 13px;
    background-color: #d1caca;
    text-align: center;
}
.team-img{
    width: 90%;
    background-color: 0,0,0,5;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;

}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #7ba7ff;
    color: #fff;
    margin-left:auto;
}
.team-overlay a i{
    line-height: 40px;
}
.team-info-title{
    padding: 10px 0;
    text-transform: uppercase;

}
.team-info-text{
    color: rgb(94, 91, 91);
    text-transform: uppercase;
    font-size: 13px;
}
.team-item.mg{
    margin: 0 5%;
}
.team-img img{
    width: 100%;
    height: 200px;
}
.team-item:after{
    content:"";
    position: absolute;
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: #333;
    opacity: 0;
}
.team-item:hover:after{
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: 1s;
}
.team-item:hover .team-info-title{
    color:#fff;
    transition:  .5s;
}
.team-item:hover .team-info-text{
    color:blue;
    transition: 1s;
}
/* /////////////////page10/////////////////// */
.recent-container{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.recent-content{
    overflow: hidden;
    background-color: #f8f8f8;    
}
.blog-item{
    float: left;
    width: 30%;
    background-color: #fff;
    position: relative;
}
.blog-item-img{
    width: 30%;        
    margin-left: 23px;
}
.blog-list{
    list-style: none;
    margin: 10px 0;
}
.blog-list li{
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
}
.blog-list li  i{
    color: #6195ff;
}
.blog-info{
    padding-left: 20px;
}
.blog-title{
    font-weight: bold;
    margin: 20px 0;
    margin-bottom: 25px;
}
.blog-desc{
    color: #999;
    margin-bottom: 20px;
    line-height: 1.5;
}
.blog-link{
    color: #6195ff;
    text-decoration: none;
}
.blog-item.mg{
    margin: 0 5%;
}
.blog-item:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    transition: 1s;
    opacity: 0;
    background-color: #6195ff;
}
.blog-item:hover:after{
   width: 100%;
    height: 100%;
    opacity: .5;
}
/* //////////////////page11///////////////////// */
.page11{
    width: 100%;
    margin-top: 50px;
}
.footer-mg{
    width: 160px;
    height: 70px;
}
.footer{
    background-color: #4c4d52;
    text-align: center;
    height: 300px;
    padding: 60px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    display: inline-block;
    background-color: #6195ff;
    width:50px;
    height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}
.footer-links li a{
    display: block;
    width:100%;
    height: 100%;
    color:#6195ff;
    color: #fff;
    line-height: 50px;
    padding-top: 13px;
    font-size: 23px;
}
.footer-links li:after{
    position: absolute;
    content: "";
    opacity: 0;
    transition: .3s;
    background-color: #0954ec;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
}
.footer-links li:hover:after{
    opacity: .7;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
}
.footer p{
    color:#999;
    font-size: 12px;
    text-transform: uppercase;
}



